@{
    var renter = ViewBag.Renter as Renter;
    var home = ViewBag.Home as Home;
}

<h2>Renter Application</h2>
<div class="playertitle">Name:</div>
<div class="playervalue">@renter.Name</div>
<div class="playertitle">Damage:</div>
<div class="playervalue">@renter.Damage</div>
<div class="playertitle">Term:</div>
<div class="playervalue">@Renter.Term</div>
<div class="playertitle">Amount per Turn:</div>
<div class="playervalue">@string.Format("{0:C}", home.GetRent())</div>

<div>
    <h2>Choice:</h2>
    @using (Html.BeginForm("AcceptRenter", "Home", FormMethod.Post))
    {
        <input type="hidden" name="homeId" value="@home.HomeId"/>
        <input type="hidden" name="renterId" value="@renter.RenterId"/>
        <button class="btn btn-success widebtn ajax" data-target="#rightside">Accept Renter</button>
    }
    <div><a href="/Home" class="btn btn-danger widebtn ajax" data-target="#rightside">Deny Renter</a></div>
</div>