@model RealEstateGame.Models.Home
@{
    var regular = Model.GetDownPayment();
    var fha = Model.GetFHADownPayment();
}
<div class="list-home col-sm-12" id="@Model.HomeId">
    <p>@Model.Address</p>
    <hr/>
    <div class="col-sm-7">
        <ul>
            <li>Value: @string.Format("{0:C0}", Model.Value)</li>
            <li>Asking: @string.Format("{0:C0}", Model.Asking)</li>
            <li>Condition: @Model.Condition</li>
        </ul>
    </div>
    <div class="col-sm-5">
        <ul>
            <li>20% Down:@string.Format("{0:C}", regular)</li>
            <li>3.5% Down: @string.Format("{0:C}", fha)</li>
        </ul>
        <a href="/Loan/Application/@Model.HomeId" class="btn btn-success ajax" data-target="#rightside">Apply for Mortgage</a>
    </div>
</div>