@model RealEstateGame.Models.Home

<div class="list-home col-sm-12">
    <p>@Model.Address</p>
    <hr/>
    <div class="col-sm-7">
        <ul>
            <li>Value: @string.Format("{0:C0}", Model.Value)</li>
            <li>Condition: @Model.Condition</li>
            @if(Model.Condition < 10) {
                <li>Cost to Improve: @string.Format("{0:C}", Model.GetCostImprovement())</li>
            }
            @if (Model.loan != null)
            {
                <li>Loan Payment: @string.Format("{0:C}", Model.loan.Payment)</li>
            }
            @if (Model.Rented == 1)
            {
                <li>Rented for @string.Format("{0:C}", Model.renter.Rent)</li>
                if (Model.GetRent() != Model.renter.Rent)
                {
                    <li>Potential Rent: @string.Format("{0:C}", Model.GetRent())</li>
                }
                <li>Rented on Turn: @Model.renter.StartTurnNum</li>
                <li>Rental Term: @Renter.Term</li>
            }
            else
            {
                    <li>Potential Rent: @string.Format("{0:C}", Model.GetRent())</li>
            }
        </ul>
    </div>
    <div class="col-sm-5">
        @if (Model.Condition < 10)
        {
            using (Html.BeginForm("Improve", "Home", FormMethod.Post))
            {
                <input type="hidden" name="homeId" value="@Model.HomeId"/>
                <button class="btn btn-success managehomebuttons ajax" data-target="#rightside">Improve</button>
            }
        }
        @using (Html.BeginForm("Sell", "Home", FormMethod.Post))
        {
            <input type="hidden" name="homeId" value="@Model.HomeId" />
            <button class="btn btn-danger managehomebuttons ajax" data-target="#rightside">Sell This Home</button>
        }
        @if (Model.Rented == 0)
        {
            using (Html.BeginForm("Move", "Home", FormMethod.Post))
            {
                <input type="hidden" name="homeId" value="@Model.HomeId" />
                <button class="btn btn-default managehomebuttons ajax" data-target="#rightside">Move Here</button>
            }
            <a href="/Home/RentHome/@Model.HomeId" class="btn btn-primary managehomebuttons ajax" data-target="#rightside">Rent This Home</a>
        }
    </div>
</div>