@model RealEstateGame.Models.Home

<div class="list-home col-sm-5">
    <p>@Model.Address</p>
    <hr/>
    <div class="col-sm-7">
        <ul>
            <li>Value: @string.Format("{0:C0}", Model.Value)</li>
            <li>Asking: @string.Format("{0:C0}", Model.Asking)</li>
            <li>Condition: @Model.Condition</li>
        </ul>
    </div>
    <div class="col-sm-5">
        <button name="homeId" value="@Model.HomeId">@ViewData["Button"]</button>
    </div>
</div>