@model RealEstateGame.Models.Home

<div class="list-home col-sm-12">
    <p>@Model.Address</p>
    <hr/>
    <div class="col-sm-7">
        <ul>
            <li>Value: @string.Format("{0:C0}", Model.Value)</li>
            <li>Asking: @string.Format("{0:C0}", Model.Asking)</li>
            <li>Condition: @Model.Condition</li>
        </ul>
    </div>
    <div class="col-sm-5">
        @if (Model.Owned == 0 && Model.ForSale == 1)
        {
            using (Html.BeginForm("Buy", "Home", FormMethod.Post))
            {
                <input type="hidden" name="homeId" value="@Model.HomeId"/>
                <button class="btn btn-success ajax" data-target="#rightside">But This Home</button>
            }
        }
    </div>
</div>