@{
    var player = ViewData["Player"] as Player;
    var loans = player.GetLoans();
    var rentalIncome = player.RentalIncome;
    var loanPayments = player.LoanPayments;
}

<div class="playercard">
    <div class="playername">
        @player.Username
        <hr/>
    </div>
    <div class="playertitle">@Html.DisplayNameFor(m => player.Money)</div><div class="playervalue">@string.Format("{0:C}", player.Money)</div>
    <div class="playertitle">@Html.DisplayNameFor(m => player.Income)</div><div class="playervalue">@string.Format("{0:C}", player.Income)</div>
    <div class="playertitle">@Html.DisplayNameFor(m => player.Job)</div><div class="playervalue">@player.Job</div>
    <div class="playertitle">@Html.DisplayNameFor(m => player.LivingIn)</div><div class="playervalue">@player.LivingIn</div>
    <div class="playertitle">@Html.DisplayNameFor(m => player.Address)</div><div class="playervalue">@player.Address</div>
    <div class="playertitle">@Html.DisplayNameFor(m => player.Rent)</div><div class="playervalue">@string.Format("{0:C}", player.Rent)</div>
    <div class="playertitle">@Html.DisplayNameFor(m => player.TurnNum)</div><div class="playervalue">@player.TurnNum</div>
    <div class="playertitle">@Html.DisplayNameFor(m => player.Actions)</div><div class="playervalue">@player.Actions</div>
    @if (rentalIncome > 0)
    {
        <div class="playertitle">@Html.DisplayNameFor(m => player.RentalIncome)</div><div class="playervalue">@string.Format("{0:C}",rentalIncome)</div>
    }
    @if (loanPayments > 0)
    {
        <div class="playertitle">@Html.DisplayNameFor(m => player.LoanPayments)</div><div class="playervalue">@string.Format("{0:C}",loanPayments)</div>
    }
</div>
<div class="loaninfo">
    <div class="loanheader">
        <div class="loancol1">Address:</div>
        <div class="loancol2">Principal</div>
        <div class="loancol3">Payment</div>
        <div class="loancol4">Term</div>
    </div>
    @if (loans != null)
    {
        foreach (var loan in loans)
        {
            <div class="loan">
                <div class="loancol2">@string.Format("{0:C}", loan.Principal)</div>
                <div class="loancol3">@string.Format("{0:C}", loan.Payment)</div>
                <div class="loancol4">@loan.PaymentsLeft</div>
            </div>
        }
    }
</div>