@{
    var Player = ViewBag.Player as Player;
}

<div class="playercard">
    <div class="playername">
        @Player.Username
        <hr/>
    </div>
    <div class="playertitle">@Html.DisplayNameFor(m => Player.Money)</div><div class="playervalue">@string.Format("{0:C}", Player.Money)</div>
    <div class="playertitle">@Html.DisplayNameFor(m => Player.Income)</div><div class="playervalue">@string.Format("{0:C}", Player.Income)</div>
    <div class="playertitle">@Html.DisplayNameFor(m => Player.Job)</div><div class="playervalue">@Player.Job</div>
    <div class="playertitle">@Html.DisplayNameFor(m => Player.LivingIn)</div><div class="playervalue">@Player.LivingIn</div>
    <div class="playertitle">@Html.DisplayNameFor(m => Player.Address)</div><div class="playervalue">@Player.Address</div>
    <div class="playertitle">@Html.DisplayNameFor(m => Player.Rent)</div><div class="playervalue">@string.Format("{0:C}", Player.Rent)</div>
    <div class="playertitle">@Html.DisplayNameFor(m => Player.TurnNum)</div><div class="playervalue">@Player.TurnNum</div>
    <div class="playertitle">@Html.DisplayNameFor(m => Player.Actions)</div><div class="playervalue">@Player.Actions</div>
      </div>